<div class="card">
    <div *ngIf="showDelete" class="card__close" (click)="onDeleteCard()">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" class="card__close__icon">
            <title>close</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                d="M368 368L144 144M368 144L144 368" />
        </svg>
    </div>
    <div class="card__img">
        <img class="card__img__elem" [src]="img" alt="Imagem sobre {{title}}">
        <app-tag class="card__img__tag" [label]="tag" [color]="tagColor"></app-tag>
    </div>
    <section class="card__content">
        <h2 class="card__title">{{title}}</h2>
        <p class="card__subtitle">{{description}}</p>
    </section>
</div>