$ds-color-black: #000;
$ds-color-white: #fff;

$ds-color-medium-grey: #dedee0;
$ds-color-dark-grey: #888894;
$ds-color-medium-pink: #fb0244;
$ds-color-medium-blue: #1260e0;
$ds-color-light-grey: #efefef;
$ds-color-light-blue: #339be3;
$ds-color-medium-red: #ce1412;
$ds-color-light-brown: #928907;